In [6]:
import pandas as pd
import numpy as np
df_SP500 = pd.read_csv('./S&P.csv', index_col=0)
df_SP500.tail()

,Symbol,Security,GICS Sector,text
500,YUM,Yum! Brands Inc,Consumer Discretionary,"Yum! Brands, Inc., or Yum! and formerly Tricon..."
501,ZBRA,Zebra Technologies,Information Technology,Zebra Technologies Corporation is an American ...
502,ZBH,Zimmer Biomet,Health Care,Zimmer Biomet is a publicly traded medical dev...
503,ZION,Zions Bancorp,Financials,Zions Bancorporation is a bank holding company...
504,ZTS,Zoetis,Health Care,Zoetis Inc. (/zō-EH-tis/) is the world's large...

In [7]:
matrix = np.zeros((505, 505))
gics = {}

In [8]:
for i in range(len(df_SP500)):
    if df_SP500['GICS Sector'][i] not in gics:
        gics[df_SP500['GICS Sector'][i]] = []
    gics[df_SP500['GICS Sector'][i]].append(i)
    
for i in range(len(df_SP500)):
    for j in gics[df_SP500['GICS Sector'][i]]:
        matrix[i][j] += 1

In [9]:
df_triplet = pd.read_csv('./S&PTriplet.csv')
df_triplet.tail()

,subject,relation,object,subject_type,object_type,record
304,Xerox Holdings Corporation,purchased,Affiliated Computer Services,ORG,ORG,497
305,Xylem Inc.,does,business,ORG,NOUN_CHUNK,499
306,Zebra Technologies Corporation products,include,thermal barcode label,NOUN_CHUNK,NOUN_CHUNK,501
307,Keystone,acquired,57.5 percent interest,ORG,NOUN_CHUNK,503
308,Zions Bancorporation,continued to,remaining minority shares,ORG,NOUN_CHUNK,503

In [10]:
relations = {}
for i in range(len(df_triplet)):
    if df_triplet['relation'][i] not in relations:
        relations[df_triplet['relation'][i]] = []
    relations[df_triplet['relation'][i]].append(df_triplet['record'][i])
    
for i in range(len(df_triplet)):
    for j in relations[df_triplet['relation'][i]]:
        matrix[i][j] += 2

In [11]:
np.save('matrix.npy', matrix)

In [12]:
matrix

array([[3., 0., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 1., 0., 1.],
       [0., 1., 1., ..., 1., 0., 1.],
       ...,
       [0., 1., 1., ..., 1., 0., 1.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 1., 0., 1.]])